html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESETS*/

body{
    font-family: 'Work Sans', sans-serif;
    font-size:15px;
    line-height:1.6;
    background-color: #575366;
    color: whitesmoke;
}

header {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    background-color: #32292f;
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.weather-container {
    display: flex;
    justify-content: center;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5762d5;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    min-width: 400px;
}

.weather-gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.temp-container {
    display: flex;
}

.current-temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-temp-container p {
    font-size: 3rem;
    border-right: 4px solid;
    padding-right: 5px;
}

.high-low {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

form {
    text-align: center;
}

input {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px;
    border: 0;
    background-color: whitesmoke;
}

button {
    border-top: 0;
    cursor: pointer;
    background: #E27D60;
    border-bottom: #d46547 3px solid;
    border-left: #d46547 2px solid;
    border-right: #d46547 2px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 800;
}

footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}